<nav class="flex justify-center gap-x-10 py-10  w-[80%] mx-auto">
    <div class="flex gap-x-10">
    <% if (user){ %>
        <a href="/users/profile">Home</a>
        <a href="/posts/create">Create</a>
    <% } else{ %>
        <a href="/">Home</a>
    <% } %>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <% if(user){ %>
        <a href="/users/messenger">chat</a>
    <%}%>
    <div class="px-20"></div>

    </div>


    <div>

        <% if(user) { %>
            <a href="/users/profile-setting"><img class="object-cover rounded-full w-[30px] h-[30px]"
                    src="<%= user.avatar.thumbnailUrl%>" alt="">

            </a>

            <% }else { %>
                <a class="bg-green-300 px-5 py-2 rounded" href="/login">Login</a>


                <% } %>

    </div>
</nav>